/*definition de la police*/

@font-face {
    font-family: "raleway",sans-serif;
    src: url(./fonts/Raleway-VariableFont_wght.ttf);
}

/*ajustements generaux*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "raleway",sans-serif;
}

/*header*/

header{
    margin: 20px;
    font-size: 1rem;  
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*Ajustemens du logo*/
header img{
    width: 120px;
    margin: 25px;
    margin-bottom: 10px;
}
header img{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*navigation*/

nav.nav{
    width: 35%;
    margin-left: 20px;
    padding: 25px;
    height: 90px;
}

nav.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav.nav a.lien13{
    font-size: 0.9rem;
    color: #0065fc;
    text-decoration: none;
}

nav.nav a.lien2{
    font-size: 0.9rem;
    color: black;
    text-decoration: none;
}
.bordure{
    border-top: 1px solid #0065fc;
}

/*Section 1 Filtres*/
/*champ de recherche*/

section.section1
{
    margin: 3% ;
    margin-top: 120px;
}

div.champ-de-recherche{
    
    margin: auto;
}

h1
{
    font-size: 1.2rem;   
}

p
{
    font-size: 0.9rem;
    margin-top: 30px; 
    margin-bottom: 40px; 
     
}

/*Ajustement du champ de recherche*/
form
{
 display: flex;
 justify-content: flex-start;
 align-items: center;
}

form
{
    width: 400px;
    border-radius: 10px;
    height: 50px;   
}

i
{
    height: 31px;
    width: 30px;
    background:#f2f2f2;
    border: 1px;
    border-radius: 2px;
    padding: 10px;
}

input[type="search"]
{
height: 31px;
width: 150px;
border-radius: 1px;
text-align: center;
font-weight: bold;
font-size: 0.8rem;
color: black;
border: 0.5px solid #f2f2f2;
padding-left: 20px;

}


input[type="submit"]
{
 background: #0065fc;
 cursor: pointer;
 border-radius: 0 10px 10px 0;
 height: 30px;
 width: 90px;
 color:white;
 font-weight: bold;
 font-size: 0.8rem;
 border: 1px;
}

/*Filtres*/

h3{
    font-size: 0.9rem;
    font-weight: bold;
    padding-right: 30px;
}

nav.nav1
{
    display: flex ;
    align-items: center;
}

nav.nav1{
    font-size: 1rem;
    margin-top: 50px;
    margin-bottom: 50px; ;
    margin: ;
    list-style-type: none;
    font-size: 0.9rem;
    font-weight: bold;
    cursor: pointer;
    
}



/*Ajustement des icones filtres*/
.icons
{
    border: 1px solid #f2f2f2;
    height: 40px;
    border-radius: 35px;
    margin-right: 20px;
    font-size: 0.8rem;
    
}

.ajustement
{
margin-left: -2px;   
border-radius: 25px;
width: 52px;
height: 52px;
color:#0065fc;
background-color:#deebff;
}

nav.nav1 i
{ 
  display: flex;
  justify-content: center;
  align-items: center; 
}

.between
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*Effets au survol*/
.icons:hover >.nav.nav1 i
{
    color:#0065fc;
    
}

.icons:hover > .ajustement
{
color:white;
background-color: #0065fc;

}

nav.nav1 i
{
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px 25px 25px 25px;
}

.circle
{
    width: 20px;
    height: 20px;
    border: 2px solid #f2f2f2;
    border-radius: 25px;
    margin-right: 5px;
    padding: 6px;   
    color: #0065fc;    
}

.text-info
{
 font-size: 0.8rem;
}

/*Section 2*Hebergements à Marseille*/
     
.hebergements
{ 
   /* height: 650px;
    margin-left: 40px;
    margin-top:100px ;
    padding: 10px;
    width: 900px;
    border-radius: 10px;
    background-color:#f2f2f2;  */
   
    display: grid;
    grid-template-columns: 1.8fr 1fr;
    column-gap: 40px;
    margin : 40px 0 60px 0; 
}

#title-hebergement 
{
    font-size: 1rem;
    font-weight:bolder;  
    padding-top: px;
    margin: 20px;
    margin-bottom: 25px;
   
}

.around
{
    display: flex;
    justify-content: space-around;
    align-items:center;
}

.container-hebergements
{ 
   /* flex: 2;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 200px; 
    margin-right: 200px;
    margin-left: 100px;
    padding-left: 90px;
    padding-right: 90px;
    width: 100%;    */

    display: flex; 
    justify-content:center;
    flex-direction: column;
    padding: 0px 20px 0px 20px;
    background-color:#f2f2f2; 
    border-radius:25px;
   
    height: 650px;
    width: 100%;
    
 }

 /*Ajustements des images*/
.imgbox
{
 /*background-size: cover;
 background-position: center;*/
 object-fit: cover;
 width: 220px;
 height: 120px;
 margin-top: ;
 border: 1px solid #ffffff;
 border-radius: 10px 10px 0 0;
}
.heb_full-card{
    background-color: #ffffff;
    border: 1px solid #ffffff;
    height: 220px;
    text-align: center;
    padding-bottom: 15px;
    border-radius: 10px; 
    }

.heb_full-card p{
margin-top: 10px;
margin-bottom: 10px;
    }
    
 .affiche{
margin: 35px;
    }
/*Couleurs de l'icone etoile*/
.colorblue{
    color: #0065fc;
}

.colorgrey{
    color: #f2f2f2;
}

.stars{
    background-color: #ffffff;
}

.img1
{
  /*background-image: url("./img/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg");*/ 
}

.img2
{
/*background-image: url("./img/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg");*/
}

.img3
{
/*background-image: url("./img/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg");*/
}


.img4
{
/*background-image: url("./img/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg");*/
}


.img5
{
/*background-image: url("./img/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");*/
}

.img6
{
}

.bloc1
{  
    display: flex;
    justify-content:space-between;
    /*flex-direction: column;*/
    align-items:center;
    padding: 0px 20px 0px 20px;
    margin-bottom: 25px;
    margin-top: 10px;
    background-color:#f2f2f2; 
    border-radius:25px;    
}

.bloc2
{
 /*display: flex;
 justify-content: space-between; 
 align-items: center;*/
  
    display: flex; 
    justify-content:space-between;
    flex-direction: row;
    align-items:center;
    padding: 0px 20px 0px 20px;
    margin-top: 10px;
    background-color:#f2f2f2; 
    border-radius:25px;
}
/*cadre blanc*/
.container-hebergements img {
    border: 1px solid#ffffff ;
    background-color: #ffffff;
    border-radius: 10px 10px 0 0;
    text-align: center;
    }  

.hebergements .heb_full-card:hover {
        cursor: pointer;
        transform: scale(1.03);
        transition: ease 0.4s;
      }

/*Section 3: Les plus populaires*/
.les-plus-populaires
{
    width: 50%;
    background-color: #f2f2f2;
    height: 650px;
    border-radius: 25px;    
}

.title-populaire 
{
    font-size: 1.2rem;
    font-weight:bolder ;
}


.cardtitle{
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    text-align: center;
    font-size: 1rem;
}

.tarif{
    margin-top: 20px  ;
    margin-bottom:5px;
    padding-left: 5px;
}
.pop-container
{   display: flex;
    flex-direction: column; 
    margin-left: 5px;
    padding: 10px;
    height: 650px;
    border-radius: 25px;
    background-color: #f2f2f2;  
}

/*Ajustements des images*/
.popbox
{
  display: flex; 
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
    object-fit: cover;
    width: 45%;
    height: 150px;
    margin: ;
    margin-left: ;
    padding-left: ;
    border-radius: 20px 0 0 20px;  
}

.pop_full-card{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.pop_full-card{
background-color: #ffffff;
border: 1px solid #ffffff;
height: 150px;
margin-left: 30px;
margin-top: 20px;
margin-bottom: 20px;
padding-bottom: 20px;
padding: 1% 0 1% 0;
border-radius: 20px;
width: 330px;
}

.les-plus-populaires .pop_full-card:hover {
    cursor: pointer;
    transform: scale(1.03);
    transition: ease 0.4s;
  }

.pop1
{
/*background-image: url("./img/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");*/
}
.pop2
{
/*background-image: url("./img/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg");*/
}
.pop3
{
/*background-image: url("./img/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg");*/
}

/*cadre blanc
.pop-container div{
    border-left: 1px solid#ffffff ;
    background-color:;
    border-radius: 10px;
    font-size: 0.9rem;*/
    } 

    

/*Section 4: Activités à Marseille*/

/*section.activity
{
    margin: 120px;
    margin-left: 50px;
    width: 100%;
}

h3
{
    font-size: 1rem;
    font-weight: bold;  
}

.activity-container
{
 display: grid;
 min-height: 150vh;
 width: 180vh;
 grid-template-columns: repeat(4, 1fr);
 grid-template-rows: repeat(4, 250px);
 gap: 10px;

}

/*Ajustement des images*/
.activitybox
{
   /*display: flex; 
    justify-content: space-around;
    align-items: center;
    cursor: pointer; 
}

/*Effet au survol
.activitybox:hover
{
 transform: scale(1.1);
}*/

/*background-image: url("./img/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
grid-column: 1;
grid-row: 1;
object-fit: cover;
width: 100%;
height: 65vh;
border-radius: 10px 10px 0 0;

}

.activitygrid2 
{
/*background-image: url("./img/activites/3_medium/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
grid-column: 2;
object-fit: cover;
width: 100%;
height: 25vh;
border-radius: 10px 10px 0 0;
border: 1px solid #f2f2f2;

}

.activitygrid3 
{
/*background-image: url("./img/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
grid-column:2;
object-fit: cover;
width: 100%;
height: 25vh;
border-radius: 10px 10px 0 0;
border: 1px solid #f2f2f2;

}
.activitygrid4
{
/*background-image: url("./img/activites/3_medium/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
grid-column: 3;
grid-row: 1;
object-fit: cover;
width: 100%;
height: 70vh;
border-radius: 10px 10px 0 0;
border: 1px solid #f2f2f2;
}

.activitygrid5
{
/*background-image: url("./img/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg");
grid-column: 4;
grid-row: 1;
object-fit: cover;
width: 100%;
height: 25vh;
border-radius: 10px 10px 0 0;
border: 1px solid #ffffff;
}

.activitygrid6
{
/*background-image: url("./img/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg");*
grid-column: 4;
object-fit: cover;
width: 100%;
height: 25vh;
border-radius: 10px 10px 0 0;
border: 1px solid #ffffff;
}

/*cadre blanc*
.activity-container h4 {
border-bottom: 5px solid #ffffff;
border-radius: 10px;
box-shadow: 5px 5px 5px 1px #f2f2f2;
} */}
 
/* nouveau code css bloc : activites à marseille */

#titre-hebergement
h2{
	margin-left:80px;	
}

.marseille {
  height: 550px;
  margin-bottom: 50px;
  display: grid;
  margin-left:40px;
  margin-right:40px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 3fr 0.3fr 0.3fr 0.3fr 0.3fr 3fr;
  grid-gap: 30px;
  grid-template-areas: 
    "activity-1 activity-2 activity-4 activity-5"
    "activity-1 activity-2 activity-4 activity-5"
    "activity-1 activity-2 activity-4 activity-6"
    "activity-1 activity-2 activity-4 activity-6"
    "activity-1 activity-3 activity-4 activity-6"
    "activity-1 activity-3 activity-4 activity-6";
}

.marseille .activity__full-card {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  box-shadow: 1px 1px 17px -9px rgba(0,0,0,0.75);
}

.activity__full-card img {
  object-fit: cover;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  margin: 0;
}

.marseille .card__title {
  position: absolute;
  width: 100%;
  background-color: white;
  border-radius: 0 0 20px 20px;
  padding: 20px 0 20px 5%;
  margin: 0;
  bottom: 0;
}

.englobe {
  height: 100%;
  margin: 0;
}

#img-1 {
  grid-area: activity-1;
}
#img-2 {
  grid-area: activity-2;  
}
#img-3 {
  grid-area: activity-3;
}
#img-4 {
  grid-area: activity-4;
}
#img-5 {
  grid-area: activity-5;
}
#img-6 {
  grid-area: activity-6;
}

.marseille .activity__full-card:hover {
  cursor: pointer;
  transform: scale(1.03);
  transition: ease 0.4s;
}

/*Footer*/
section.bottom-page
{
    background-color: #f2f2f2;
    width: 100%;
    height: 250px;
    margin-top: 50px;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 20px;
    padding-bottom: 15px
}

footer.footer
{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
footer h3
{
    font-size: 1rem;
    font-weight: bold;   
    margin-left: 15%;
    margin-right: 20%;
    padding: 20px;
}
footer p
{ 
    font-size: 0.9rem;
    margin-right: 20%;
    margin-left: 20%;
    width: 70%; 
}
.endfoot
{
    height: 150px;
    width: 25%;
}

/*responsive design*/
{@media all and (max-device-width:780px)}