/*definition de la police*/

@font-face {
    font-family: "raleway",sans-serif;
    src: url(./fonts/Raleway-VariableFont_wght.ttf);
}

/*ajustements generaux*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "raleway",sans-serif;
}

/*header*/

header{
    margin: 20px;
    font-size: 1rem;  
}

header{
    display: flex;
    
    justify-content: space-between;
    align-items: center;
}

/*Ajustemens du logo*/
header img{
    width: 120px;
    margin: 25px;
    margin-bottom: 10px;
}
header img{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*navigation*/

.navigation{
    width: 35%;
    margin-left: 20px;
    padding: 25px;
    height: 90px;   
}

.navigation{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navigation a.lien13{
    font-size: 0.9rem;
    color:#0065fc;
    text-decoration: none;
}

.navigation a.lien2{
    font-size: 0.9rem;
    color: black;
    text-decoration: none;
}

.navigation a:hover{
 color: #0065fc;
}
.bordure{
    border-top: 1px solid transparent;
    padding-top:30px;
    
}
.bordure:hover{
    border-top: 1px solid #0065fc;
    cursor: pointer;
}


/*Section 1 Filtres*/
/*champ de recherche*/

.presentation_du_site
{
    margin: 3% ;
    margin-top: 100px;
}

div.champ-de-recherche{
    
    margin: auto;
}

h1
{
    font-size: 1.2rem;  
    margin-top: 35px;    
}

p
{
    font-size: 0.9rem;
    margin-top: 20px; 
    margin-bottom: 20px; 
     
}

/*Ajustement du champ de recherche*/
form
{
 display: flex;
 justify-content: flex-start;
 align-items: center;
}

form
{
    width: 400px;
    border-radius: 10px;
    height: 50px;   
}

 i
{
    height: 31px;
    width:30px ;
    background:#f2f2f2;
    border: 1px;
    border-radius: 2px;
    padding: 10px;
}

input[type="search"]
{
height: 31px;
width: 150px;
border-radius: 1px;
text-align: center;
font-weight: bold;
font-size: 0.8rem;
color: black;
border: 0.5px solid #f2f2f2;
padding-left: 20px;
}

input[type="submit"]
{
 background: #0065fc;
 cursor: pointer;
 border-radius: 0 10px 10px 0;
 height: 30px;
 width: 90px;
 color:white;
 font-weight: bold;
 font-size: 0.8rem;
 border: 1px;
}

input[type="submit"]:active
{
transform: scale(1);
}

/*Filtres*/

.title-filtres {
    font-size: 0.9rem;
    font-weight: bold;
    padding-right: 30px;
}

nav.nav1
{
    display: flex ;
    align-items: center;
}

nav.nav1{
    font-size: 1rem;
    margin-top: 30px;
    margin-bottom: 50px; ; 
    list-style-type: none;
    font-size: 0.9rem;
    font-weight: bold;
    cursor: pointer;   
}

/*Ajustement des icones filtres*/
.icons
{
    border: 1px solid #f2f2f2;
    height: 40px;
    border-radius: 20px;
    margin-right: 20px;
    font-size: 0.8rem;
    padding-right: 15px;
}

.ajustement
{
margin-left: -2px;   
border-radius: 35px;
width: 40px;
height: 52px;
color:#0065fc;
background-color:#deebff;
}

nav.nav1 i
{ 
  display: flex;
  justify-content: center;
  align-items: center; 
 
}

.between
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*Effets au survol*/
.items:hover 
{
    color:#0065fc;    
}

.icons:hover > .ajustement
{
color:white;
background-color: #0065fc;
}

nav.nav1 i
{
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px 25px 25px 25px;
}

.circle
{
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border: 2px solid #f2f2f2;
    border-radius: 25px;
    margin-right: 5px;
    padding: 6px;   
    color: #0065fc;    
}

.text-info
{
 font-size: 0.8rem;
}

/*Section 2*Hebergements à Marseille*/
     
.hebergements
{ 
    display: grid;
    grid-template-columns: 1.8fr 1fr;
    column-gap: 40px;
    margin : 40px 0 60px 0; 
}

#titre-hebergement 
{
    font-weight:bolder;  
    margin: 20px;
    margin-bottom: 25px;   
}

.around
{
    display: flex;
    justify-content: space-around;
    align-items:center;
}

.container-hebergements
{ 
    display: flex; 
    justify-content:center;
    flex-direction: column;
    padding: 0px 20px 0px 20px;
    background-color:#f2f2f2; 
    border-radius:25px;
    height: 650px;
    width: 100%;   
 }

 .hebtitle{
    margin-bottom: 10px;
    margin-top: ;
    margin-left: 10px;
    text-align: left;
    font-size: 1rem;
 }

 /*Ajustements des images*/
.imgbox
{
 object-fit: cover;
 width: 220px;
 height: 120px;
 border: 1px solid #ffffff;
 border-radius: 10px 10px 0 0;
}
.heb_full-card{
    background-color: #ffffff;
    border: 1px solid #ffffff;
    height: 220px;
    text-align: left;
    padding-bottom: 15px;
    border-radius: 10px; 
    }

.heb_full-card p{
margin-top: 10px;
margin-bottom: 5px;
padding-left: 10px;
    }
    
 .affiche{
margin: 35px;
}

/*icone etoile*/
.colorblue{
    color: #0065fc;
}

.colorgrey{
    color: #f2f2f2;
}

.icon-star i {
     display:inline-block;
     background-color: #ffffff;
     width: 10px;
}

/*gestion des  2 blocs hébergements*/
.bloc1
{  
    display: flex;
    justify-content:space-between;
    align-items:center;
    padding: 0px 20px 0px 20px;
    margin-bottom: 25px;
    margin-top: 10px;
    /*background-color:#f2f2f2; */
    border-radius:25px;    
}

.bloc2
{
    display: flex; 
    justify-content:space-between;
    align-items:center;
    padding: 0px 20px 0px 20px;
    margin-top: 10px;
    /*background-color:#f2f2f2; */
    border-radius:25px;
}

/*cadre blanc
.container-hebergements img {
    border: 1px solid#ffffff ;
    background-color: #ffffff;
    border-radius: 10px 10px 0 0;
    text-align: center;
    }  */

.hebergements .heb_full-card:hover {
        cursor: pointer;
        transform: scale(1.03);
        transition: ease 0.4s;
      }

/*Section 3: Les plus populaires*/
.les-plus-populaires
{
    width: 50%;
    background-color: #f2f2f2;
    height: 650px;
    border-radius: 25px;    
}

.title-populaire 
{
    font-size: 1.2rem;
    font-weight:bolder ;
}


.cardtitle{
    margin-bottom: 10px;
    margin-top: 25px;
    margin-left: 10px;
    text-align: left;
    font-size: 1rem;
      
}

.tarif{
    margin-top: 20px  ;
    margin-bottom:5px;
    padding-left: 5px;
    
}
.pop-container
{   display: flex;
    flex-direction: column; 
    margin-left: 5px;
    padding: 10px;
    height: 650px;
    border-radius: 20px;
    background-color: #f2f2f2;  
}

/*Ajustements des images*/
.popbox
{
  display: flex; 
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
    object-fit: cover;
    width: 45%;
    height: 140px;
    padding-left:3px ;
    border-radius: 20px 0 0 20px;  
}

.pop_full-card{
    display: flex;
    justify-content: center;
    align-items: left;
    text-align: left;   
}

.pop_full-card{
background-color: #ffffff;
border: 1px solid #ffffff;
height: 150px;
margin-left: 30px;
margin-top: 20px;
margin-bottom: 20px;
padding-bottom: 20px;
padding: 1% 0 1% 0;
border-radius: 20px;
width: 330px;
}

.pop_full-card p{
    margin-top: 10px;
    margin-bottom: 5px;
    padding-left: 10px;
   
 }

.les-plus-populaires .pop_full-card:hover {
    cursor: pointer;
    transform: scale(1.03);
    transition: ease 0.4s;
  }


/* nouveau code css bloc : activites à marseille */

#title-marseille 
{
	margin-left:40px;
    	   
}

.marseille {
  height: 550px;
  margin-bottom: 50px;
  display: grid;
  margin-left:40px;
  margin-right:40px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 3fr 0.3fr 0.3fr 0.3fr 0.3fr 3fr;
  grid-gap: 30px;
  grid-template-areas: 
    "activity-1 activity-2 activity-4 activity-5"
    "activity-1 activity-2 activity-4 activity-5"
    "activity-1 activity-2 activity-4 activity-6"
    "activity-1 activity-2 activity-4 activity-6"
    "activity-1 activity-3 activity-4 activity-6"
    "activity-1 activity-3 activity-4 activity-6";
}

.marseille .activity__full-card {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  box-shadow: 1px 1px 17px -9px rgba(0,0,0,0.75);
}

.activity__full-card img {
  object-fit: cover;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  margin: 0;
}

.marseille .card__title {
  position: absolute;
  width: 100%;
  background-color: white;
  border-radius: 0 0 20px 20px;
  padding: 20px 0 20px 5%;
  margin: 0;
  bottom: 0;
}

.englobe {
  height: 100%;
  margin: 0;
}

#img-1 {
  grid-area: activity-1;
}
#img-2 {
  grid-area: activity-2;  
}
#img-3 {
  grid-area: activity-3;
}
#img-4 {
  grid-area: activity-4;
}
#img-5 {
  grid-area: activity-5;
}
#img-6 {
  grid-area: activity-6;
}

.marseille .activity__full-card:hover {
  cursor: pointer;
  transform: scale(1.03);
  transition: ease 0.4s;
}

/*Footer*/
.renseignements
{
    background-color: #f2f2f2;
    width: 100%;
    height: 250px;
    margin-top: 50px;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 20px;
    padding-bottom: 10px
}

footer.footer
{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
footer h3
{
    font-size: 1rem;
    font-weight: bold;   
    margin-left: 15%;
    margin-right: 20%;
    padding: 20px;
}
footer p
{ 
    font-size: 0.9rem;
    margin-right: 20%;
    margin-left: 20%;
    width: 70%; 
}
.endfoot
{
    height: 100px;
    width: 25%;
}

/*responsive design*/
@media screen and (max-width:1100px)
{
 main{
      width: 95%;
  }
.container-hebergements{
    width: 70%;
}
.bloc1{
    width: auto;
    padding: 10px;
}
.bloc2{
    width:auto;
    padding: 15px;
}
.heb_full-card{
    width: auto;
    height: 220px;
    
}
.hebtitle{
    font-size: 0.9rem;
}
.imgbox{
    width: 180px;
}

.affiche{
    margin-top: 15px;
}
.les-plus-populaires{
    width: 33%;
}
.pop_full-card{
    width: auto;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.cardtitle{
    margin-top: 25px;
    font-size: 1rem;
}
.pop_full-card p{
   font-size: 0.8rem;
}
.icon-star i{
  width: 5px;  
}
}

@media screen and (max-width:960px)
{
    main{
        width: 90%;
    }
    /*Application du style pour les tablettes*/
 
  .container-hebergements{
    width: 65%;
  }
  .bloc1{
    width: auto;
    padding: 10px;
  }
  
  .bloc2{
    width: auto;
    padding: 10px;
  }
  
  .heb_full-card{
    width: auto;
    height: auto;   
}
  
  .imgbox{
  width: 150px;
  }

  .hebtitle{
    font-size: 0.8rem;
}

  /*Les plus populaires*/
  .les-plus-populaires{
  width: 30%;
  }
  .cardtitle{
    margin-top: 25px;
    font-size: 0.9rem;
}
.pop_full-card p{
   font-size: 0.8rem;
}
.icon-star i{
  width: 2px;  
}
  /*Activites a Marseille*/
  .marseille{
  width: 80%;
  height: auto;
  }
  
  .englobe{
    width: auto;  
  }  

}
  @media screen and (max-width:840px)
{
    main{
        width: 90%;
    }
    .pop_full-card {
        width: auto;
     }
}


@media screen and (max-width:870px)
{
    main{
        width: 90%;
    }

    .title-filtres{
        margin-bottom: 15px;
    }
    
    nav.nav1 {
        flex-direction: column;   
        align-items: flex-start;
        margin-bottom: 30px;
        padding: 10px;   
    } 
    
    .mobile_direction{
        flex-direction: column;
        align-items: flex-start;   
    }

    .mobile_gap_filtres {
        margin-bottom:15px ;
    }

    .hebergements{
        display: grid;
        grid-template-columns: 1fr; 
        margin: auto;
        width: 100%;
        height: auto;
        
      }
      .container-hebergements{
        display:flex;
        flex-direction: column;
        align-content: center;
        width: auto;
        height: auto;
       background-color: transparent; 
      }
      .bloc1{
        display: flex;
        flex-direction: column;
        align-content: center; 
        height: auto; 
        margin-bottom: 8px;
        width: auto;
      }
      
      .bloc2{
      display: flex;
      flex-direction: column;
      align-content: center;
      height: auto;   
      margin-top: 5px;
      }
      
      .imgbox{
      width:100%;
      }  

      .heb_full-card{
        width: auto;
        box-shadow: 1px 1px 17px -9px rgba(0,0,0,0.75);
        margin-bottom: 15px;
    }

      /*Les plus populaires*/
     .les-plus-populaires{
     display: flex;
     order: -1;
     flex-direction: column;
     align-content: center;
     width: auto;
     height: auto;
     margin: auto;
     border-radius: 0;
  }
  
    .pop-container{
    display:flex;
    flex-direction: column;
    align-content: center;
    border-radius: 0;
    margin: auto;
    width: auto;
    height: auto;
  } 
  .pop_full-card{
      margin: 5px;
  }
  .popbox{
      width: 51%;
      height: 142px;
  }
  
  /*Activites a Marseille*/
  .marseille{
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 80%;
    height: auto;
    }
    
    .englobe{
      width: auto;  
    }  
    
    /*Bas de page*/
    .renseignements{
     width: 100%;
     margin: 3px; 
     height: 100%;
    }
    
    footer.footer{
      display: flex;
      flex-direction:column;
      justify-content: flex-end;
      align-content: center;    
    }
    
    footer.footer h3{
     margin:auto;
     padding: 10px;
     text-align: left;
     
    }
    
    footer.footer p{
      margin: 10px;
      width: auto;
    }
     
    .endfoot{
    
      margin: 0;
      padding-left: 5px;
      padding-bottom: 3px;
      padding-top: 3px;
      margin-top: 3px;
      margin-bottom: 5px;
      width: 100%;  
      height: 25%;
    }      
 }   

@media screen and (max-width:600px)
{
    main{
        width: 90%;
    }
    /*Application du style pour les mobiles*/
 
  /*Entete*/
  header{
      margin: auto;    
  }
   
  header img{
    width: 15%;
    margin: 20px;   
}
 .navigation{
     display: flex;
     justify-content: center;
     align-items: center;
     width: 85%;
     margin-left: 0;
     padding: 25px;    
 }
.navigation a{
    padding-top: 20px;
    text-align: center;
}
 .mobile_position{
     display: inline-flex;
     flex-wrap: wrap;
     align-self: flex-start;
     margin-top: 40px; 
     padding-right: 10px;    
 }
.mobile_gap_filtres {
    margin-bottom:15px ;
}
 .bordure:hover{
    border-bottom: 1px solid #0065fc;
    padding-bottom: 30px;
    border-top: 0;
    cursor: pointer;
}
.hebergements{
    width: 100%;
}
.container-hebergements{
    width: auto;
}
.imgbox{
    width: 300px;
}
.bloc1{
    margin-bottom: -7px;
}
.bloc2{
    margin-top:-7px;
}
.heb_full-card{
    width: auto;
    box-shadow: 1px 1px 17px -9px rgba(0,0,0,0.75);
    margin-bottom: 15px;
}
.les-plus-populaires{
    width: 90%;
}
.pop-container{
    width: auto;
}
}

@media screen and (max-width:300px)
{
    main{
        width: 90%;
    }
    /*Application du style pour les mobiles de petites tailles*/

}